* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
}

.background4 img:hover {
    color: rgb(0, 0, 0);
}

.botonesheader {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    width: 100%;
    height: 100%;
    margin-top: 14px;
    display: inline-block;

}

header .botonesheader a {
    text-decoration: none;
    position: relative;
    color: rgb(255, 255, 255);
    margin-right: 52px;
    right: -24px;
    z-index: 1;
    color: black;
}

header .botonesheader a:hover {
    color: white;
    background-color: black;
}

.contenedor-tabla-pos {
    font-size: 24px;
    width: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
}

.posiciones {
    border-top: 20px;
    border-color: rgb(0, 0, 0);
    width: 100%;
    text-align: left;
}

.posiciones-head {
    text-align: center;
    margin-right: -20px;
}
